@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1350px !important;
  }
}

/* Navbar Css */
.navbar {
  box-shadow: 0px 2px 12px 0px #d7d7d7;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.safron-logo span {
  font-size: 36px;
  font-weight: 700;
  color: #56c6c9;
}

.safron-logo p {
  font-size: 18px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: -10px;
}

.navbar-nav li a {
  font-weight: 600;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #56c6c9;
  position: relative;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.show {
  color: #56c6c9;
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #56c6c9;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}

/* hero section css */
.hero-bg-1 {
  background: url('/image/banner-2.jpg') no-repeat;
  background-size: cover;
  min-height: 712px;
}

.hero-bg-2 {
  background: url('/image/banner-3.jpg') no-repeat;
  background-size: cover;
  min-height: 712px;
}

.hero-bg-3 {
  background: url('/image/banner-4.jpg') no-repeat;
  background-size: cover;
  min-height: 712px;
}

.hero-bg-overlay {
  background-color: #000000a3;
  width: 100%;
  min-height: 712px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img-margin {
  margin-top: 98px;
}

.hero-section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.text2 {
  font-size: 20px;
  color: #fff;
}

@keyframes text {
  0% {
    color: #fff;
    /* margin-bottom: -40px; */
  }

  30% {
    letter-spacing: 15px;
    /* margin-bottom: -40px; */
  }

  85% {
    letter-spacing: 8px;
    /* margin-bottom: -40px; */
  }

  100% {
    margin-bottom: 20px;
  }
}

@media (min-width:1200px) {
  .text1 {
    font-size: 60px;
  }

  .text2 {
    font-size: 25px;
  }
}

@media (max-width:425px) {
  .text1 {
    font-size: 25px;
  }

  .text2 {
    font-size: 15px;
  }
}

/* .hero-section-text h5 {
  color: #fff;
  font-size: 22px;
} */

.hero-image {
  filter: brightness(0.3);
}

.hero-prev-button {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  right: 2rem;
  width: calc(var(--swiper-navigation-size) / 44* 27) !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-next-button {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  left: 2rem;
  width: calc(var(--swiper-navigation-size) / 44* 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-prev-button,
.hero-next-button {
  /* font-family: swiper-icons; */
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.hero-prev-next-icon {
  height: 30px;
}

/* our-work section */
.home-box-div {
  border: 3px solid #000;
  height: 15px;
  width: 15px;
  display: block;
  margin: auto;
  position: relative;
}

.home-box-div::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  background-color: #56c6c9;
  right: 20px;
  top: 4px;
}

.home-box-div::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  background-color: #56c6c9;
  left: 20px;
  top: 4px;
}

.our-work-head h3 {
  position: relative;
  background-color: #56c6c9;
  display: inline-block;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  color: #fff;
}

.our-work-text {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(38, 42, 76, 0.1) 0px 0px 13px 5px;
  padding: 40px 20px 20px 20px;
  margin-top: -25px;
  min-height: 229px;
}

/* it-bussiness css */
.it-bussiness-cate {
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(85, 197, 200, 0.10);
  border-radius: 8px;
  border: 2px solid #d8d8d8;
}

.it-bussiness-ic {
  width: 80px;
  height: auto;
}

.it-solution-bussiness {
  background: url('../public/image/help-bg.png') no-repeat;
  background-size: cover;
  background-color: #56c6c9;
  padding: 40px 60px;
  border-radius: 12px;
}

/* our service css */
.our-service-ic {
  position: relative;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 90px;
  height: 90px;
  transition: all .5s ease;
  -webkit-box-shadow: 0 0 12px 0 rgba(32, 46, 60, .06);
  -moz-box-shadow: 0 0 12px 0 rgba(32, 46, 60, .06);
  box-shadow: 0 0 12px 0 rgba(32, 46, 60, .06);
  padding: 5px;
  display: flex;
  margin: auto;
}

.our-service-line {
  height: 50px;
  width: 3px;
  bottom: 0;
  background-color: #56c6c9;
  display: flex;
  margin: auto;
}

.our-service-descroiption {
  background-color: #fff;
  box-shadow: rgba(38, 42, 76, 0.1) 0px 0px 13px 5px;
  border-radius: 8px;
  border: 2px solid #d8d8d8;
}

.our-service-descroiption p {
  min-height: 160px;
  line-height: 25px;
  display: flex;
  align-items: center;
}

.our-service-see-more-btn {
  padding: 9px 45px;
  background-color: white;
  border: 1px solid #56c6c9;
  color: #56c6c9;
  border-radius: 8px;
  transition: 0.3s;
}

.our-service-see-more-btn:hover {
  background-color: #56c6c9;
  color: #fff;
}

@media screen and (min-width:992px) and (max-width:1200px) {
  .our-service-descroiption {
    min-height: 422px;
  }
}

/* Footer Css */
.footer-animation {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 128px 165px #FFF, 1248px 1290px #FFF, 687px 937px #FFF, 793px 1142px #FFF, 517px 1531px #FFF, 826px 1079px #FFF, 1619px 1903px #FFF, 735px 1507px #FFF, 42px 325px #FFF, 955px 963px #FFF, 719px 1249px #FFF, 95px 1792px #FFF, 716px 1206px #FFF, 1328px 597px #FFF, 1210px 723px #FFF, 1226px 1462px #FFF, 1972px 1962px #FFF, 1513px 1349px #FFF, 1519px 1819px #FFF, 1144px 1501px #FFF, 1789px 288px #FFF, 1798px 1163px #FFF, 1959px 50px #FFF, 1767px 1103px #FFF, 1410px 406px #FFF, 1837px 1573px #FFF, 1023px 1491px #FFF, 1859px 64px #FFF, 238px 422px #FFF, 134px 1416px #FFF, 423px 1499px #FFF, 4px 557px #FFF, 1594px 1640px #FFF, 1270px 161px #FFF, 729px 176px #FFF, 224px 789px #FFF, 64px 1360px #FFF, 1863px 1879px #FFF, 11px 1204px #FFF, 1778px 300px #FFF, 114px 1303px #FFF, 1606px 802px #FFF, 814px 721px #FFF, 489px 1475px #FFF, 624px 1138px #FFF, 118px 483px #FFF, 86px 1409px #FFF, 173px 980px #FFF, 1110px 448px #FFF, 1043px 1481px #FFF, 1510px 1473px #FFF, 1688px 99px #FFF, 1779px 1011px #FFF, 86px 1565px #FFF, 1483px 236px #FFF, 863px 896px #FFF, 1435px 1081px #FFF, 320px 442px #FFF, 27px 1123px #FFF, 1568px 1196px #FFF, 252px 1639px #FFF, 776px 1960px #FFF, 104px 1185px #FFF, 1442px 1130px #FFF, 133px 466px #FFF, 1852px 77px #FFF, 1940px 1209px #FFF, 1975px 512px #FFF, 1902px 591px #FFF, 904px 475px #FFF, 38px 792px #FFF, 262px 1757px #FFF, 588px 554px #FFF, 975px 1591px #FFF, 184px 730px #FFF, 157px 630px #FFF, 738px 1655px #FFF, 1323px 1781px #FFF, 389px 531px #FFF, 1834px 578px #FFF, 497px 949px #FFF, 556px 96px #FFF, 53px 397px #FFF, 346px 1845px #FFF, 1962px 1794px #FFF, 1010px 1689px #FFF, 222px 1498px #FFF, 1030px 766px #FFF, 1479px 637px #FFF, 432px 813px #FFF, 1905px 1770px #FFF, 1010px 933px #FFF, 761px 1465px #FFF, 681px 33px #FFF, 184px 171px #FFF, 1403px 404px #FFF, 1995px 211px #FFF, 1322px 1606px #FFF, 1787px 988px #FFF, 1830px 34px #FFF, 695px 1597px #FFF, 1855px 962px #FFF, 768px 1496px #FFF, 1377px 1089px #FFF, 81px 177px #FFF, 1683px 1364px #FFF, 1526px 1740px #FFF, 699px 1133px #FFF, 877px 928px #FFF, 154px 95px #FFF, 190px 1751px #FFF, 1363px 914px #FFF, 344px 475px #FFF, 906px 559px #FFF, 124px 1434px #FFF, 111px 1806px #FFF, 1038px 1316px #FFF, 973px 1723px #FFF, 1472px 1533px #FFF, 1097px 115px #FFF, 1509px 953px #FFF, 312px 1109px #FFF, 371px 268px #FFF, 361px 1928px #FFF, 1904px 1777px #FFF, 153px 721px #FFF, 1329px 1491px #FFF, 562px 363px #FFF, 1298px 1269px #FFF, 233px 1018px #FFF, 1563px 400px #FFF, 1405px 1424px #FFF, 1212px 1052px #FFF, 496px 1252px #FFF, 947px 643px #FFF, 1491px 1093px #FFF, 872px 882px #FFF, 16px 1674px #FFF, 1123px 881px #FFF, 1191px 936px #FFF, 995px 421px #FFF, 1780px 1116px #FFF, 1503px 524px #FFF, 979px 995px #FFF, 1570px 1916px #FFF, 1168px 1548px #FFF, 897px 10px #FFF, 761px 404px #FFF, 1249px 1083px #FFF, 518px 1338px #FFF, 1747px 668px #FFF, 1197px 1412px #FFF, 80px 1742px #FFF, 1688px 1344px #FFF, 1322px 1036px #FFF, 831px 1482px #FFF, 674px 360px #FFF, 68px 159px #FFF, 1257px 525px #FFF, 1048px 310px #FFF, 1673px 977px #FFF, 33px 1250px #FFF, 1994px 1957px #FFF, 540px 1637px #FFF, 485px 1982px #FFF, 403px 1104px #FFF, 597px 1986px #FFF, 1741px 1283px #FFF, 733px 1372px #FFF, 342px 724px #FFF, 331px 975px #FFF, 1436px 972px #FFF, 736px 1652px #FFF, 1675px 261px #FFF, 1515px 142px #FFF, 7px 143px #FFF, 767px 1228px #FFF, 1581px 691px #FFF, 1840px 1976px #FFF, 552px 960px #FFF, 550px 131px #FFF, 1314px 726px #FFF, 1042px 1737px #FFF, 1630px 1174px #FFF, 663px 1946px #FFF, 890px 156px #FFF, 1041px 1932px #FFF, 1943px 967px #FFF, 1626px 1142px #FFF, 710px 105px #FFF, 1949px 105px #FFF, 978px 1655px #FFF, 1411px 1886px #FFF, 736px 219px #FFF, 541px 861px #FFF, 1261px 833px #FFF, 356px 645px #FFF, 1880px 786px #FFF, 894px 568px #FFF, 8px 1111px #FFF, 623px 886px #FFF, 1867px 839px #FFF, 1222px 631px #FFF, 436px 1234px #FFF, 352px 195px #FFF, 1496px 1711px #FFF, 1840px 32px #FFF, 268px 1332px #FFF, 1706px 5px #FFF, 502px 855px #FFF, 933px 652px #FFF, 1127px 1056px #FFF, 1575px 1208px #FFF, 1920px 277px #FFF, 1550px 761px #FFF, 1252px 1244px #FFF, 1895px 244px #FFF, 808px 291px #FFF, 1522px 314px #FFF, 232px 1249px #FFF, 1946px 1250px #FFF, 1046px 331px #FFF, 1174px 683px #FFF, 1977px 798px #FFF, 625px 1250px #FFF, 1344px 71px #FFF, 508px 1475px #FFF, 1072px 52px #FFF, 346px 1537px #FFF, 488px 1018px #FFF, 1965px 985px #FFF, 1407px 1047px #FFF, 1945px 1605px #FFF, 1790px 681px #FFF, 1502px 293px #FFF, 909px 588px #FFF, 468px 746px #FFF, 1496px 910px #FFF, 967px 1115px #FFF, 1824px 308px #FFF, 793px 753px #FFF, 164px 1878px #FFF, 246px 1393px #FFF, 530px 572px #FFF, 1870px 1738px #FFF, 182px 1088px #FFF, 1601px 41px #FFF, 1589px 2px #FFF, 285px 1831px #FFF, 1413px 1513px #FFF, 294px 206px #FFF, 37px 913px #FFF, 1782px 830px #FFF, 1301px 1953px #FFF, 1509px 1115px #FFF, 81px 1103px #FFF, 715px 1223px #FFF, 1738px 1425px #FFF, 522px 1918px #FFF, 860px 1049px #FFF, 537px 28px #FFF, 770px 754px #FFF, 1925px 20px #FFF, 112px 485px #FFF, 845px 14px #FFF, 1559px 1703px #FFF, 640px 205px #FFF, 998px 1358px #FFF, 852px 229px #FFF, 933px 284px #FFF, 442px 459px #FFF, 995px 61px #FFF, 1666px 1107px #FFF, 1155px 1395px #FFF, 1616px 504px #FFF, 948px 788px #FFF, 218px 1278px #FFF, 938px 523px #FFF, 349px 615px #FFF, 909px 1732px #FFF, 1185px 985px #FFF, 298px 1523px #FFF, 1703px 1325px #FFF, 1918px 58px #FFF, 1409px 898px #FFF, 920px 869px #FFF, 1277px 337px #FFF, 595px 449px #FFF, 30px 994px #FFF, 1508px 39px #FFF, 1415px 1637px #FFF, 515px 574px #FFF, 1209px 1581px #FFF, 1899px 697px #FFF, 1535px 536px #FFF, 1643px 1634px #FFF, 1486px 1372px #FFF, 1157px 71px #FFF, 811px 393px #FFF, 419px 1838px #FFF, 1880px 959px #FFF, 1571px 785px #FFF, 420px 447px #FFF, 1734px 568px #FFF, 1905px 1957px #FFF, 1205px 1760px #FFF, 1514px 1032px #FFF, 172px 810px #FFF, 1936px 753px #FFF, 1098px 95px #FFF, 1970px 887px #FFF, 1203px 1906px #FFF, 1617px 317px #FFF, 952px 1064px #FFF, 1293px 1747px #FFF, 871px 1975px #FFF, 741px 1799px #FFF, 398px 989px #FFF, 1727px 660px #FFF, 323px 1012px #FFF, 577px 1698px #FFF, 1337px 1530px #FFF, 935px 1595px #FFF, 1478px 1463px #FFF, 1842px 840px #FFF, 1333px 117px #FFF, 1521px 1830px #FFF, 52px 1572px #FFF, 1217px 819px #FFF, 1831px 684px #FFF, 1606px 1599px #FFF, 149px 949px #FFF, 1492px 116px #FFF, 609px 1991px #FFF, 1262px 996px #FFF, 96px 1743px #FFF, 775px 1040px #FFF, 992px 810px #FFF, 1921px 677px #FFF, 1043px 1032px #FFF, 913px 1174px #FFF, 881px 497px #FFF, 583px 769px #FFF, 1820px 797px #FFF, 1734px 1707px #FFF, 1971px 1893px #FFF, 555px 1958px #FFF, 598px 724px #FFF, 535px 1382px #FFF, 268px 689px #FFF, 1355px 1015px #FFF, 1208px 223px #FFF, 621px 227px #FFF, 1498px 1716px #FFF, 374px 54px #FFF, 818px 500px #FFF, 1544px 1443px #FFF, 321px 1104px #FFF, 1439px 1776px #FFF, 652px 919px #FFF, 93px 1606px #FFF, 1830px 1454px #FFF, 8px 1128px #FFF, 255px 1592px #FFF, 787px 922px #FFF, 658px 774px #FFF, 111px 1330px #FFF, 1657px 1151px #FFF, 1116px 1302px #FFF, 1778px 1602px #FFF, 1251px 229px #FFF, 938px 1938px #FFF, 1391px 171px #FFF, 141px 1729px #FFF, 1255px 712px #FFF, 520px 1197px #FFF, 903px 453px #FFF, 815px 799px #FFF, 513px 463px #FFF, 31px 657px #FFF, 58px 1501px #FFF, 1297px 1525px #FFF, 118px 194px #FFF, 1292px 444px #FFF, 207px 1188px #FFF, 541px 1245px #FFF, 236px 1522px #FFF, 1139px 1515px #FFF, 342px 1036px #FFF, 791px 657px #FFF, 517px 930px #FFF, 1499px 186px #FFF, 359px 25px #FFF, 1630px 1709px #FFF, 1709px 1984px #FFF, 60px 1171px #FFF, 1247px 1371px #FFF, 9px 1307px #FFF, 651px 1824px #FFF, 1px 1829px #FFF, 244px 792px #FFF, 218px 4px #FFF, 860px 571px #FFF, 1407px 1330px #FFF, 1485px 199px #FFF, 490px 250px #FFF, 811px 842px #FFF, 1550px 972px #FFF, 1253px 345px #FFF, 554px 342px #FFF, 1100px 86px #FFF, 1395px 1597px #FFF, 1715px 1181px #FFF, 82px 235px #FFF, 750px 1174px #FFF, 555px 32px #FFF, 1030px 361px #FFF, 921px 736px #FFF, 281px 139px #FFF, 545px 1843px #FFF, 548px 1183px #FFF, 1794px 1953px #FFF, 1588px 480px #FFF, 1690px 1468px #FFF, 120px 718px #FFF, 166px 1311px #FFF, 1130px 377px #FFF, 683px 207px #FFF, 174px 935px #FFF, 1475px 799px #FFF, 640px 630px #FFF, 599px 168px #FFF, 147px 427px #FFF, 1316px 886px #FFF, 456px 1091px #FFF, 310px 781px #FFF, 128px 1713px #FFF, 1258px 1815px #FFF, 1284px 502px #FFF, 1099px 19px #FFF, 1064px 1783px #FFF, 1887px 1522px #FFF, 1406px 485px #FFF, 914px 1459px #FFF, 1471px 454px #FFF, 1176px 1234px #FFF, 723px 1122px #FFF, 1699px 1845px #FFF, 1955px 327px #FFF, 1256px 1168px #FFF, 1180px 363px #FFF, 105px 1909px #FFF, 959px 1540px #FFF, 1637px 1081px #FFF, 250px 1341px #FFF, 1873px 1104px #FFF, 1952px 1580px #FFF, 222px 1258px #FFF, 104px 516px #FFF, 380px 1836px #FFF, 1783px 1832px #FFF, 1048px 191px #FFF, 720px 1243px #FFF, 1799px 611px #FFF, 794px 1882px #FFF, 738px 667px #FFF, 498px 1363px #FFF, 1177px 1673px #FFF, 56px 924px #FFF, 1377px 148px #FFF, 981px 797px #FFF, 1215px 808px #FFF, 430px 530px #FFF, 210px 1918px #FFF, 1395px 1757px #FFF, 96px 1560px #FFF, 1306px 1750px #FFF, 67px 858px #FFF, 1141px 1888px #FFF, 209px 1968px #FFF, 799px 618px #FFF, 865px 841px #FFF, 448px 105px #FFF, 997px 1598px #FFF, 1058px 672px #FFF, 1547px 1067px #FFF, 1973px 917px #FFF, 1571px 1666px #FFF, 16px 44px #FFF, 1367px 51px #FFF, 162px 449px #FFF, 1718px 1720px #FFF, 572px 622px #FFF, 1298px 221px #FFF, 571px 1202px #FFF, 529px 1289px #FFF, 1257px 828px #FFF, 963px 786px #FFF, 151px 275px #FFF, 1215px 512px #FFF, 360px 198px #FFF, 1644px 1445px #FFF, 1703px 775px #FFF, 1213px 389px #FFF, 62px 334px #FFF, 1479px 1631px #FFF, 1960px 782px #FFF, 1009px 1923px #FFF, 1203px 518px #FFF, 467px 1384px #FFF, 1453px 1450px #FFF, 627px 1721px #FFF, 1677px 1904px #FFF, 857px 868px #FFF, 866px 600px #FFF, 530px 529px #FFF, 403px 883px #FFF, 392px 478px #FFF, 149px 623px #FFF, 1730px 1956px #FFF, 1241px 848px #FFF, 768px 1676px #FFF, 1235px 1291px #FFF, 1181px 1347px #FFF, 1799px 1817px #FFF, 392px 870px #FFF, 1281px 559px #FFF, 1691px 1171px #FFF, 76px 450px #FFF, 502px 1347px #FFF, 888px 738px #FFF, 838px 1405px #FFF, 1897px 447px #FFF, 1235px 1659px #FFF, 1222px 226px #FFF, 853px 841px #FFF, 956px 979px #FFF, 1165px 10px #FFF, 658px 1293px #FFF, 1323px 642px #FFF, 1485px 596px #FFF, 677px 691px #FFF, 421px 1628px #FFF, 353px 677px #FFF, 1937px 16px #FFF, 1711px 1019px #FFF, 1142px 1106px #FFF, 274px 1830px #FFF, 1641px 1945px #FFF, 112px 1026px #FFF, 869px 786px #FFF, 992px 142px #FFF, 913px 477px #FFF, 243px 1451px #FFF, 961px 676px #FFF, 1282px 1751px #FFF, 515px 709px #FFF, 1536px 1960px #FFF, 1599px 847px #FFF, 807px 1339px #FFF, 1459px 499px #FFF, 818px 1269px #FFF, 645px 1454px #FFF, 163px 1890px #FFF, 595px 1971px #FFF, 140px 1301px #FFF, 302px 727px #FFF, 1783px 743px #FFF, 1060px 392px #FFF, 523px 1939px #FFF, 1458px 1370px #FFF, 1556px 157px #FFF, 1152px 1060px #FFF, 1446px 277px #FFF, 157px 131px #FFF, 553px 867px #FFF, 1367px 1640px #FFF, 911px 278px #FFF, 1261px 349px #FFF, 1318px 140px #FFF, 1385px 1739px #FFF, 1718px 1294px #FFF, 886px 649px #FFF, 1678px 442px #FFF, 159px 225px #FFF, 422px 1548px #FFF, 184px 618px #FFF, 1492px 1768px #FFF, 1726px 653px #FFF, 799px 1683px #FFF, 95px 680px #FFF, 1140px 437px #FFF, 1600px 881px #FFF, 106px 428px #FFF, 769px 650px #FFF, 555px 354px #FFF, 29px 1953px #FFF, 774px 1658px #FFF, 1054px 243px #FFF, 1930px 1646px #FFF, 242px 527px #FFF, 155px 869px #FFF, 461px 1179px #FFF, 1120px 333px #FFF, 1519px 1799px #FFF, 1483px 1337px #FFF, 487px 389px #FFF, 1899px 86px #FFF, 543px 365px #FFF, 1507px 1544px #FFF, 609px 763px #FFF, 1024px 1755px #FFF, 1178px 665px #FFF, 616px 188px #FFF, 1368px 1963px #FFF, 1556px 1002px #FFF, 128px 374px #FFF, 729px 982px #FFF, 1440px 1445px #FFF, 1936px 1260px #FFF, 1008px 551px #FFF, 1596px 185px #FFF, 968px 186px #FFF, 1809px 675px #FFF, 796px 1698px #FFF, 1714px 1125px #FFF, 227px 266px #FFF, 1364px 1665px #FFF, 1120px 978px #FFF, 301px 808px #FFF, 1580px 1885px #FFF, 1841px 1406px #FFF, 579px 1446px #FFF, 1178px 868px #FFF, 1072px 1163px #FFF, 916px 1554px #FFF, 474px 265px #FFF, 891px 1567px #FFF, 7px 1395px #FFF, 125px 603px #FFF, 1814px 1355px #FFF, 387px 1795px #FFF, 1719px 1915px #FFF, 1729px 627px #FFF, 1237px 1217px #FFF, 1010px 598px #FFF, 804px 465px #FFF, 1225px 803px #FFF, 295px 457px #FFF, 320px 1726px #FFF, 1383px 411px #FFF, 870px 1604px #FFF, 1018px 171px #FFF, 400px 1859px #FFF, 1573px 42px #FFF, 1575px 1345px #FFF, 578px 558px #FFF, 869px 308px #FFF, 397px 812px #FFF, 533px 1190px #FFF, 446px 1173px #FFF, 863px 449px #FFF, 1644px 1917px #FFF, 554px 798px #FFF, 1404px 1736px #FFF, 171px 382px #FFF, 1718px 467px #FFF, 1478px 1714px #FFF, 1656px 914px #FFF, 1281px 1125px #FFF, 1203px 1978px #FFF, 1417px 1768px #FFF, 1949px 871px #FFF, 103px 102px #FFF, 259px 493px #FFF, 695px 476px #FFF, 754px 763px #FFF, 1577px 907px #FFF, 469px 521px #FFF, 525px 1547px #FFF, 496px 837px #FFF, 1169px 1286px #FFF, 1941px 1872px #FFF, 169px 1198px #FFF, 475px 542px #FFF, 1190px 453px #FFF, 929px 792px #FFF, 1433px 1938px #FFF, 1064px 1269px #FFF, 1964px 1149px #FFF, 383px 1452px #FFF, 859px 753px #FFF, 71px 528px #FFF, 65px 1966px #FFF, 1171px 1703px #FFF, 1761px 232px #FFF, 1765px 109px #FFF, 1001px 1700px #FFF, 1874px 809px #FFF, 481px 1985px #FFF;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 128px 165px #FFF, 1248px 1290px #FFF, 687px 937px #FFF, 793px 1142px #FFF, 517px 1531px #FFF, 826px 1079px #FFF, 1619px 1903px #FFF, 735px 1507px #FFF, 42px 325px #FFF, 955px 963px #FFF, 719px 1249px #FFF, 95px 1792px #FFF, 716px 1206px #FFF, 1328px 597px #FFF, 1210px 723px #FFF, 1226px 1462px #FFF, 1972px 1962px #FFF, 1513px 1349px #FFF, 1519px 1819px #FFF, 1144px 1501px #FFF, 1789px 288px #FFF, 1798px 1163px #FFF, 1959px 50px #FFF, 1767px 1103px #FFF, 1410px 406px #FFF, 1837px 1573px #FFF, 1023px 1491px #FFF, 1859px 64px #FFF, 238px 422px #FFF, 134px 1416px #FFF, 423px 1499px #FFF, 4px 557px #FFF, 1594px 1640px #FFF, 1270px 161px #FFF, 729px 176px #FFF, 224px 789px #FFF, 64px 1360px #FFF, 1863px 1879px #FFF, 11px 1204px #FFF, 1778px 300px #FFF, 114px 1303px #FFF, 1606px 802px #FFF, 814px 721px #FFF, 489px 1475px #FFF, 624px 1138px #FFF, 118px 483px #FFF, 86px 1409px #FFF, 173px 980px #FFF, 1110px 448px #FFF, 1043px 1481px #FFF, 1510px 1473px #FFF, 1688px 99px #FFF, 1779px 1011px #FFF, 86px 1565px #FFF, 1483px 236px #FFF, 863px 896px #FFF, 1435px 1081px #FFF, 320px 442px #FFF, 27px 1123px #FFF, 1568px 1196px #FFF, 252px 1639px #FFF, 776px 1960px #FFF, 104px 1185px #FFF, 1442px 1130px #FFF, 133px 466px #FFF, 1852px 77px #FFF, 1940px 1209px #FFF, 1975px 512px #FFF, 1902px 591px #FFF, 904px 475px #FFF, 38px 792px #FFF, 262px 1757px #FFF, 588px 554px #FFF, 975px 1591px #FFF, 184px 730px #FFF, 157px 630px #FFF, 738px 1655px #FFF, 1323px 1781px #FFF, 389px 531px #FFF, 1834px 578px #FFF, 497px 949px #FFF, 556px 96px #FFF, 53px 397px #FFF, 346px 1845px #FFF, 1962px 1794px #FFF, 1010px 1689px #FFF, 222px 1498px #FFF, 1030px 766px #FFF, 1479px 637px #FFF, 432px 813px #FFF, 1905px 1770px #FFF, 1010px 933px #FFF, 761px 1465px #FFF, 681px 33px #FFF, 184px 171px #FFF, 1403px 404px #FFF, 1995px 211px #FFF, 1322px 1606px #FFF, 1787px 988px #FFF, 1830px 34px #FFF, 695px 1597px #FFF, 1855px 962px #FFF, 768px 1496px #FFF, 1377px 1089px #FFF, 81px 177px #FFF, 1683px 1364px #FFF, 1526px 1740px #FFF, 699px 1133px #FFF, 877px 928px #FFF, 154px 95px #FFF, 190px 1751px #FFF, 1363px 914px #FFF, 344px 475px #FFF, 906px 559px #FFF, 124px 1434px #FFF, 111px 1806px #FFF, 1038px 1316px #FFF, 973px 1723px #FFF, 1472px 1533px #FFF, 1097px 115px #FFF, 1509px 953px #FFF, 312px 1109px #FFF, 371px 268px #FFF, 361px 1928px #FFF, 1904px 1777px #FFF, 153px 721px #FFF, 1329px 1491px #FFF, 562px 363px #FFF, 1298px 1269px #FFF, 233px 1018px #FFF, 1563px 400px #FFF, 1405px 1424px #FFF, 1212px 1052px #FFF, 496px 1252px #FFF, 947px 643px #FFF, 1491px 1093px #FFF, 872px 882px #FFF, 16px 1674px #FFF, 1123px 881px #FFF, 1191px 936px #FFF, 995px 421px #FFF, 1780px 1116px #FFF, 1503px 524px #FFF, 979px 995px #FFF, 1570px 1916px #FFF, 1168px 1548px #FFF, 897px 10px #FFF, 761px 404px #FFF, 1249px 1083px #FFF, 518px 1338px #FFF, 1747px 668px #FFF, 1197px 1412px #FFF, 80px 1742px #FFF, 1688px 1344px #FFF, 1322px 1036px #FFF, 831px 1482px #FFF, 674px 360px #FFF, 68px 159px #FFF, 1257px 525px #FFF, 1048px 310px #FFF, 1673px 977px #FFF, 33px 1250px #FFF, 1994px 1957px #FFF, 540px 1637px #FFF, 485px 1982px #FFF, 403px 1104px #FFF, 597px 1986px #FFF, 1741px 1283px #FFF, 733px 1372px #FFF, 342px 724px #FFF, 331px 975px #FFF, 1436px 972px #FFF, 736px 1652px #FFF, 1675px 261px #FFF, 1515px 142px #FFF, 7px 143px #FFF, 767px 1228px #FFF, 1581px 691px #FFF, 1840px 1976px #FFF, 552px 960px #FFF, 550px 131px #FFF, 1314px 726px #FFF, 1042px 1737px #FFF, 1630px 1174px #FFF, 663px 1946px #FFF, 890px 156px #FFF, 1041px 1932px #FFF, 1943px 967px #FFF, 1626px 1142px #FFF, 710px 105px #FFF, 1949px 105px #FFF, 978px 1655px #FFF, 1411px 1886px #FFF, 736px 219px #FFF, 541px 861px #FFF, 1261px 833px #FFF, 356px 645px #FFF, 1880px 786px #FFF, 894px 568px #FFF, 8px 1111px #FFF, 623px 886px #FFF, 1867px 839px #FFF, 1222px 631px #FFF, 436px 1234px #FFF, 352px 195px #FFF, 1496px 1711px #FFF, 1840px 32px #FFF, 268px 1332px #FFF, 1706px 5px #FFF, 502px 855px #FFF, 933px 652px #FFF, 1127px 1056px #FFF, 1575px 1208px #FFF, 1920px 277px #FFF, 1550px 761px #FFF, 1252px 1244px #FFF, 1895px 244px #FFF, 808px 291px #FFF, 1522px 314px #FFF, 232px 1249px #FFF, 1946px 1250px #FFF, 1046px 331px #FFF, 1174px 683px #FFF, 1977px 798px #FFF, 625px 1250px #FFF, 1344px 71px #FFF, 508px 1475px #FFF, 1072px 52px #FFF, 346px 1537px #FFF, 488px 1018px #FFF, 1965px 985px #FFF, 1407px 1047px #FFF, 1945px 1605px #FFF, 1790px 681px #FFF, 1502px 293px #FFF, 909px 588px #FFF, 468px 746px #FFF, 1496px 910px #FFF, 967px 1115px #FFF, 1824px 308px #FFF, 793px 753px #FFF, 164px 1878px #FFF, 246px 1393px #FFF, 530px 572px #FFF, 1870px 1738px #FFF, 182px 1088px #FFF, 1601px 41px #FFF, 1589px 2px #FFF, 285px 1831px #FFF, 1413px 1513px #FFF, 294px 206px #FFF, 37px 913px #FFF, 1782px 830px #FFF, 1301px 1953px #FFF, 1509px 1115px #FFF, 81px 1103px #FFF, 715px 1223px #FFF, 1738px 1425px #FFF, 522px 1918px #FFF, 860px 1049px #FFF, 537px 28px #FFF, 770px 754px #FFF, 1925px 20px #FFF, 112px 485px #FFF, 845px 14px #FFF, 1559px 1703px #FFF, 640px 205px #FFF, 998px 1358px #FFF, 852px 229px #FFF, 933px 284px #FFF, 442px 459px #FFF, 995px 61px #FFF, 1666px 1107px #FFF, 1155px 1395px #FFF, 1616px 504px #FFF, 948px 788px #FFF, 218px 1278px #FFF, 938px 523px #FFF, 349px 615px #FFF, 909px 1732px #FFF, 1185px 985px #FFF, 298px 1523px #FFF, 1703px 1325px #FFF, 1918px 58px #FFF, 1409px 898px #FFF, 920px 869px #FFF, 1277px 337px #FFF, 595px 449px #FFF, 30px 994px #FFF, 1508px 39px #FFF, 1415px 1637px #FFF, 515px 574px #FFF, 1209px 1581px #FFF, 1899px 697px #FFF, 1535px 536px #FFF, 1643px 1634px #FFF, 1486px 1372px #FFF, 1157px 71px #FFF, 811px 393px #FFF, 419px 1838px #FFF, 1880px 959px #FFF, 1571px 785px #FFF, 420px 447px #FFF, 1734px 568px #FFF, 1905px 1957px #FFF, 1205px 1760px #FFF, 1514px 1032px #FFF, 172px 810px #FFF, 1936px 753px #FFF, 1098px 95px #FFF, 1970px 887px #FFF, 1203px 1906px #FFF, 1617px 317px #FFF, 952px 1064px #FFF, 1293px 1747px #FFF, 871px 1975px #FFF, 741px 1799px #FFF, 398px 989px #FFF, 1727px 660px #FFF, 323px 1012px #FFF, 577px 1698px #FFF, 1337px 1530px #FFF, 935px 1595px #FFF, 1478px 1463px #FFF, 1842px 840px #FFF, 1333px 117px #FFF, 1521px 1830px #FFF, 52px 1572px #FFF, 1217px 819px #FFF, 1831px 684px #FFF, 1606px 1599px #FFF, 149px 949px #FFF, 1492px 116px #FFF, 609px 1991px #FFF, 1262px 996px #FFF, 96px 1743px #FFF, 775px 1040px #FFF, 992px 810px #FFF, 1921px 677px #FFF, 1043px 1032px #FFF, 913px 1174px #FFF, 881px 497px #FFF, 583px 769px #FFF, 1820px 797px #FFF, 1734px 1707px #FFF, 1971px 1893px #FFF, 555px 1958px #FFF, 598px 724px #FFF, 535px 1382px #FFF, 268px 689px #FFF, 1355px 1015px #FFF, 1208px 223px #FFF, 621px 227px #FFF, 1498px 1716px #FFF, 374px 54px #FFF, 818px 500px #FFF, 1544px 1443px #FFF, 321px 1104px #FFF, 1439px 1776px #FFF, 652px 919px #FFF, 93px 1606px #FFF, 1830px 1454px #FFF, 8px 1128px #FFF, 255px 1592px #FFF, 787px 922px #FFF, 658px 774px #FFF, 111px 1330px #FFF, 1657px 1151px #FFF, 1116px 1302px #FFF, 1778px 1602px #FFF, 1251px 229px #FFF, 938px 1938px #FFF, 1391px 171px #FFF, 141px 1729px #FFF, 1255px 712px #FFF, 520px 1197px #FFF, 903px 453px #FFF, 815px 799px #FFF, 513px 463px #FFF, 31px 657px #FFF, 58px 1501px #FFF, 1297px 1525px #FFF, 118px 194px #FFF, 1292px 444px #FFF, 207px 1188px #FFF, 541px 1245px #FFF, 236px 1522px #FFF, 1139px 1515px #FFF, 342px 1036px #FFF, 791px 657px #FFF, 517px 930px #FFF, 1499px 186px #FFF, 359px 25px #FFF, 1630px 1709px #FFF, 1709px 1984px #FFF, 60px 1171px #FFF, 1247px 1371px #FFF, 9px 1307px #FFF, 651px 1824px #FFF, 1px 1829px #FFF, 244px 792px #FFF, 218px 4px #FFF, 860px 571px #FFF, 1407px 1330px #FFF, 1485px 199px #FFF, 490px 250px #FFF, 811px 842px #FFF, 1550px 972px #FFF, 1253px 345px #FFF, 554px 342px #FFF, 1100px 86px #FFF, 1395px 1597px #FFF, 1715px 1181px #FFF, 82px 235px #FFF, 750px 1174px #FFF, 555px 32px #FFF, 1030px 361px #FFF, 921px 736px #FFF, 281px 139px #FFF, 545px 1843px #FFF, 548px 1183px #FFF, 1794px 1953px #FFF, 1588px 480px #FFF, 1690px 1468px #FFF, 120px 718px #FFF, 166px 1311px #FFF, 1130px 377px #FFF, 683px 207px #FFF, 174px 935px #FFF, 1475px 799px #FFF, 640px 630px #FFF, 599px 168px #FFF, 147px 427px #FFF, 1316px 886px #FFF, 456px 1091px #FFF, 310px 781px #FFF, 128px 1713px #FFF, 1258px 1815px #FFF, 1284px 502px #FFF, 1099px 19px #FFF, 1064px 1783px #FFF, 1887px 1522px #FFF, 1406px 485px #FFF, 914px 1459px #FFF, 1471px 454px #FFF, 1176px 1234px #FFF, 723px 1122px #FFF, 1699px 1845px #FFF, 1955px 327px #FFF, 1256px 1168px #FFF, 1180px 363px #FFF, 105px 1909px #FFF, 959px 1540px #FFF, 1637px 1081px #FFF, 250px 1341px #FFF, 1873px 1104px #FFF, 1952px 1580px #FFF, 222px 1258px #FFF, 104px 516px #FFF, 380px 1836px #FFF, 1783px 1832px #FFF, 1048px 191px #FFF, 720px 1243px #FFF, 1799px 611px #FFF, 794px 1882px #FFF, 738px 667px #FFF, 498px 1363px #FFF, 1177px 1673px #FFF, 56px 924px #FFF, 1377px 148px #FFF, 981px 797px #FFF, 1215px 808px #FFF, 430px 530px #FFF, 210px 1918px #FFF, 1395px 1757px #FFF, 96px 1560px #FFF, 1306px 1750px #FFF, 67px 858px #FFF, 1141px 1888px #FFF, 209px 1968px #FFF, 799px 618px #FFF, 865px 841px #FFF, 448px 105px #FFF, 997px 1598px #FFF, 1058px 672px #FFF, 1547px 1067px #FFF, 1973px 917px #FFF, 1571px 1666px #FFF, 16px 44px #FFF, 1367px 51px #FFF, 162px 449px #FFF, 1718px 1720px #FFF, 572px 622px #FFF, 1298px 221px #FFF, 571px 1202px #FFF, 529px 1289px #FFF, 1257px 828px #FFF, 963px 786px #FFF, 151px 275px #FFF, 1215px 512px #FFF, 360px 198px #FFF, 1644px 1445px #FFF, 1703px 775px #FFF, 1213px 389px #FFF, 62px 334px #FFF, 1479px 1631px #FFF, 1960px 782px #FFF, 1009px 1923px #FFF, 1203px 518px #FFF, 467px 1384px #FFF, 1453px 1450px #FFF, 627px 1721px #FFF, 1677px 1904px #FFF, 857px 868px #FFF, 866px 600px #FFF, 530px 529px #FFF, 403px 883px #FFF, 392px 478px #FFF, 149px 623px #FFF, 1730px 1956px #FFF, 1241px 848px #FFF, 768px 1676px #FFF, 1235px 1291px #FFF, 1181px 1347px #FFF, 1799px 1817px #FFF, 392px 870px #FFF, 1281px 559px #FFF, 1691px 1171px #FFF, 76px 450px #FFF, 502px 1347px #FFF, 888px 738px #FFF, 838px 1405px #FFF, 1897px 447px #FFF, 1235px 1659px #FFF, 1222px 226px #FFF, 853px 841px #FFF, 956px 979px #FFF, 1165px 10px #FFF, 658px 1293px #FFF, 1323px 642px #FFF, 1485px 596px #FFF, 677px 691px #FFF, 421px 1628px #FFF, 353px 677px #FFF, 1937px 16px #FFF, 1711px 1019px #FFF, 1142px 1106px #FFF, 274px 1830px #FFF, 1641px 1945px #FFF, 112px 1026px #FFF, 869px 786px #FFF, 992px 142px #FFF, 913px 477px #FFF, 243px 1451px #FFF, 961px 676px #FFF, 1282px 1751px #FFF, 515px 709px #FFF, 1536px 1960px #FFF, 1599px 847px #FFF, 807px 1339px #FFF, 1459px 499px #FFF, 818px 1269px #FFF, 645px 1454px #FFF, 163px 1890px #FFF, 595px 1971px #FFF, 140px 1301px #FFF, 302px 727px #FFF, 1783px 743px #FFF, 1060px 392px #FFF, 523px 1939px #FFF, 1458px 1370px #FFF, 1556px 157px #FFF, 1152px 1060px #FFF, 1446px 277px #FFF, 157px 131px #FFF, 553px 867px #FFF, 1367px 1640px #FFF, 911px 278px #FFF, 1261px 349px #FFF, 1318px 140px #FFF, 1385px 1739px #FFF, 1718px 1294px #FFF, 886px 649px #FFF, 1678px 442px #FFF, 159px 225px #FFF, 422px 1548px #FFF, 184px 618px #FFF, 1492px 1768px #FFF, 1726px 653px #FFF, 799px 1683px #FFF, 95px 680px #FFF, 1140px 437px #FFF, 1600px 881px #FFF, 106px 428px #FFF, 769px 650px #FFF, 555px 354px #FFF, 29px 1953px #FFF, 774px 1658px #FFF, 1054px 243px #FFF, 1930px 1646px #FFF, 242px 527px #FFF, 155px 869px #FFF, 461px 1179px #FFF, 1120px 333px #FFF, 1519px 1799px #FFF, 1483px 1337px #FFF, 487px 389px #FFF, 1899px 86px #FFF, 543px 365px #FFF, 1507px 1544px #FFF, 609px 763px #FFF, 1024px 1755px #FFF, 1178px 665px #FFF, 616px 188px #FFF, 1368px 1963px #FFF, 1556px 1002px #FFF, 128px 374px #FFF, 729px 982px #FFF, 1440px 1445px #FFF, 1936px 1260px #FFF, 1008px 551px #FFF, 1596px 185px #FFF, 968px 186px #FFF, 1809px 675px #FFF, 796px 1698px #FFF, 1714px 1125px #FFF, 227px 266px #FFF, 1364px 1665px #FFF, 1120px 978px #FFF, 301px 808px #FFF, 1580px 1885px #FFF, 1841px 1406px #FFF, 579px 1446px #FFF, 1178px 868px #FFF, 1072px 1163px #FFF, 916px 1554px #FFF, 474px 265px #FFF, 891px 1567px #FFF, 7px 1395px #FFF, 125px 603px #FFF, 1814px 1355px #FFF, 387px 1795px #FFF, 1719px 1915px #FFF, 1729px 627px #FFF, 1237px 1217px #FFF, 1010px 598px #FFF, 804px 465px #FFF, 1225px 803px #FFF, 295px 457px #FFF, 320px 1726px #FFF, 1383px 411px #FFF, 870px 1604px #FFF, 1018px 171px #FFF, 400px 1859px #FFF, 1573px 42px #FFF, 1575px 1345px #FFF, 578px 558px #FFF, 869px 308px #FFF, 397px 812px #FFF, 533px 1190px #FFF, 446px 1173px #FFF, 863px 449px #FFF, 1644px 1917px #FFF, 554px 798px #FFF, 1404px 1736px #FFF, 171px 382px #FFF, 1718px 467px #FFF, 1478px 1714px #FFF, 1656px 914px #FFF, 1281px 1125px #FFF, 1203px 1978px #FFF, 1417px 1768px #FFF, 1949px 871px #FFF, 103px 102px #FFF, 259px 493px #FFF, 695px 476px #FFF, 754px 763px #FFF, 1577px 907px #FFF, 469px 521px #FFF, 525px 1547px #FFF, 496px 837px #FFF, 1169px 1286px #FFF, 1941px 1872px #FFF, 169px 1198px #FFF, 475px 542px #FFF, 1190px 453px #FFF, 929px 792px #FFF, 1433px 1938px #FFF, 1064px 1269px #FFF, 1964px 1149px #FFF, 383px 1452px #FFF, 859px 753px #FFF, 71px 528px #FFF, 65px 1966px #FFF, 1171px 1703px #FFF, 1761px 232px #FFF, 1765px 109px #FFF, 1001px 1700px #FFF, 1874px 809px #FFF, 481px 1985px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 68px 394px #FFF, 1533px 1782px #FFF, 1257px 576px #FFF, 1107px 731px #FFF, 1457px 1752px #FFF, 29px 998px #FFF, 1428px 1538px #FFF, 887px 1762px #FFF, 1476px 1105px #FFF, 1139px 1470px #FFF, 170px 1854px #FFF, 1216px 451px #FFF, 1758px 1920px #FFF, 190px 1032px #FFF, 1000px 536px #FFF, 1975px 1222px #FFF, 42px 1961px #FFF, 1410px 123px #FFF, 1262px 1829px #FFF, 171px 763px #FFF, 1460px 1341px #FFF, 1866px 1245px #FFF, 225px 716px #FFF, 1440px 1783px #FFF, 945px 1730px #FFF, 1982px 1243px #FFF, 1228px 1438px #FFF, 79px 1533px #FFF, 745px 276px #FFF, 35px 1302px #FFF, 1630px 1213px #FFF, 523px 724px #FFF, 1803px 1040px #FFF, 1550px 499px #FFF, 686px 732px #FFF, 147px 637px #FFF, 990px 1415px #FFF, 325px 1895px #FFF, 1404px 240px #FFF, 1264px 1126px #FFF, 1893px 1300px #FFF, 204px 1387px #FFF, 1198px 1749px #FFF, 953px 523px #FFF, 425px 1682px #FFF, 391px 398px #FFF, 1809px 1091px #FFF, 669px 87px #FFF, 822px 529px #FFF, 1753px 430px #FFF, 920px 1465px #FFF, 46px 1462px #FFF, 1692px 1732px #FFF, 1176px 346px #FFF, 1410px 481px #FFF, 699px 1549px #FFF, 341px 776px #FFF, 575px 1637px #FFF, 8px 886px #FFF, 1743px 1068px #FFF, 1114px 78px #FFF, 1439px 1091px #FFF, 827px 1788px #FFF, 815px 663px #FFF, 362px 1035px #FFF, 237px 1507px #FFF, 1313px 1743px #FFF, 49px 1175px #FFF, 1045px 1316px #FFF, 540px 282px #FFF, 1962px 447px #FFF, 388px 799px #FFF, 1925px 1860px #FFF, 1612px 452px #FFF, 746px 1761px #FFF, 1247px 1439px #FFF, 1205px 572px #FFF, 893px 914px #FFF, 1515px 495px #FFF, 384px 930px #FFF, 1072px 496px #FFF, 1722px 1027px #FFF, 1942px 1255px #FFF, 1151px 1229px #FFF, 1196px 1813px #FFF, 805px 204px #FFF, 1013px 974px #FFF, 1844px 507px #FFF, 1961px 222px #FFF, 1752px 554px #FFF, 1538px 138px #FFF, 1263px 1434px #FFF, 944px 1579px #FFF, 247px 1359px #FFF, 1009px 130px #FFF, 1682px 1558px #FFF, 408px 262px #FFF, 1111px 48px #FFF, 1610px 1400px #FFF, 23px 964px #FFF, 688px 613px #FFF, 346px 1051px #FFF, 1496px 807px #FFF, 1971px 358px #FFF, 790px 1222px #FFF, 861px 1643px #FFF, 811px 555px #FFF, 1049px 1329px #FFF, 1455px 950px #FFF, 1016px 216px #FFF, 516px 823px #FFF, 1900px 914px #FFF, 1035px 676px #FFF, 435px 1158px #FFF, 1425px 746px #FFF, 1551px 975px #FFF, 1960px 1825px #FFF, 768px 335px #FFF, 1483px 84px #FFF, 9px 1183px #FFF, 1656px 230px #FFF, 100px 388px #FFF, 993px 1321px #FFF, 1373px 42px #FFF, 1848px 1113px #FFF, 1957px 501px #FFF, 51px 709px #FFF, 778px 1539px #FFF, 1041px 654px #FFF, 382px 1279px #FFF, 1913px 519px #FFF, 371px 1404px #FFF, 1462px 1792px #FFF, 1624px 1072px #FFF, 784px 1766px #FFF, 1638px 1633px #FFF, 1225px 828px #FFF, 1770px 1030px #FFF, 1065px 1310px #FFF, 561px 1445px #FFF, 588px 339px #FFF, 525px 348px #FFF, 1007px 905px #FFF, 219px 1118px #FFF, 850px 673px #FFF, 1436px 1684px #FFF, 9px 1378px #FFF, 1227px 1143px #FFF, 744px 1299px #FFF, 1351px 395px #FFF, 1849px 1075px #FFF, 1142px 646px #FFF, 1799px 1506px #FFF, 136px 7px #FFF, 886px 162px #FFF, 258px 1974px #FFF, 1423px 1889px #FFF, 855px 406px #FFF, 1314px 1358px #FFF, 1325px 671px #FFF, 182px 1214px #FFF, 45px 990px #FFF, 254px 983px #FFF, 1735px 954px #FFF, 335px 679px #FFF, 1985px 1032px #FFF, 1470px 78px #FFF, 1440px 1066px #FFF, 53px 382px #FFF, 950px 531px #FFF, 1556px 889px #FFF, 438px 1352px #FFF, 137px 1801px #FFF, 931px 484px #FFF, 1147px 1590px #FFF, 324px 543px #FFF, 1123px 1026px #FFF, 1276px 1414px #FFF, 10px 777px #FFF, 1589px 1053px #FFF, 1026px 1345px #FFF, 149px 898px #FFF, 1085px 360px #FFF, 579px 1169px #FFF, 1261px 636px #FFF, 974px 1307px #FFF, 1244px 150px #FFF, 730px 1054px #FFF, 1346px 1591px #FFF, 1982px 838px #FFF, 729px 134px #FFF, 893px 1335px #FFF, 629px 757px #FFF, 1316px 1728px #FFF, 800px 816px #FFF, 161px 1952px #FFF, 1006px 534px #FFF, 249px 596px #FFF, 1248px 1523px #FFF, 1616px 1448px #FFF;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 68px 394px #FFF, 1533px 1782px #FFF, 1257px 576px #FFF, 1107px 731px #FFF, 1457px 1752px #FFF, 29px 998px #FFF, 1428px 1538px #FFF, 887px 1762px #FFF, 1476px 1105px #FFF, 1139px 1470px #FFF, 170px 1854px #FFF, 1216px 451px #FFF, 1758px 1920px #FFF, 190px 1032px #FFF, 1000px 536px #FFF, 1975px 1222px #FFF, 42px 1961px #FFF, 1410px 123px #FFF, 1262px 1829px #FFF, 171px 763px #FFF, 1460px 1341px #FFF, 1866px 1245px #FFF, 225px 716px #FFF, 1440px 1783px #FFF, 945px 1730px #FFF, 1982px 1243px #FFF, 1228px 1438px #FFF, 79px 1533px #FFF, 745px 276px #FFF, 35px 1302px #FFF, 1630px 1213px #FFF, 523px 724px #FFF, 1803px 1040px #FFF, 1550px 499px #FFF, 686px 732px #FFF, 147px 637px #FFF, 990px 1415px #FFF, 325px 1895px #FFF, 1404px 240px #FFF, 1264px 1126px #FFF, 1893px 1300px #FFF, 204px 1387px #FFF, 1198px 1749px #FFF, 953px 523px #FFF, 425px 1682px #FFF, 391px 398px #FFF, 1809px 1091px #FFF, 669px 87px #FFF, 822px 529px #FFF, 1753px 430px #FFF, 920px 1465px #FFF, 46px 1462px #FFF, 1692px 1732px #FFF, 1176px 346px #FFF, 1410px 481px #FFF, 699px 1549px #FFF, 341px 776px #FFF, 575px 1637px #FFF, 8px 886px #FFF, 1743px 1068px #FFF, 1114px 78px #FFF, 1439px 1091px #FFF, 827px 1788px #FFF, 815px 663px #FFF, 362px 1035px #FFF, 237px 1507px #FFF, 1313px 1743px #FFF, 49px 1175px #FFF, 1045px 1316px #FFF, 540px 282px #FFF, 1962px 447px #FFF, 388px 799px #FFF, 1925px 1860px #FFF, 1612px 452px #FFF, 746px 1761px #FFF, 1247px 1439px #FFF, 1205px 572px #FFF, 893px 914px #FFF, 1515px 495px #FFF, 384px 930px #FFF, 1072px 496px #FFF, 1722px 1027px #FFF, 1942px 1255px #FFF, 1151px 1229px #FFF, 1196px 1813px #FFF, 805px 204px #FFF, 1013px 974px #FFF, 1844px 507px #FFF, 1961px 222px #FFF, 1752px 554px #FFF, 1538px 138px #FFF, 1263px 1434px #FFF, 944px 1579px #FFF, 247px 1359px #FFF, 1009px 130px #FFF, 1682px 1558px #FFF, 408px 262px #FFF, 1111px 48px #FFF, 1610px 1400px #FFF, 23px 964px #FFF, 688px 613px #FFF, 346px 1051px #FFF, 1496px 807px #FFF, 1971px 358px #FFF, 790px 1222px #FFF, 861px 1643px #FFF, 811px 555px #FFF, 1049px 1329px #FFF, 1455px 950px #FFF, 1016px 216px #FFF, 516px 823px #FFF, 1900px 914px #FFF, 1035px 676px #FFF, 435px 1158px #FFF, 1425px 746px #FFF, 1551px 975px #FFF, 1960px 1825px #FFF, 768px 335px #FFF, 1483px 84px #FFF, 9px 1183px #FFF, 1656px 230px #FFF, 100px 388px #FFF, 993px 1321px #FFF, 1373px 42px #FFF, 1848px 1113px #FFF, 1957px 501px #FFF, 51px 709px #FFF, 778px 1539px #FFF, 1041px 654px #FFF, 382px 1279px #FFF, 1913px 519px #FFF, 371px 1404px #FFF, 1462px 1792px #FFF, 1624px 1072px #FFF, 784px 1766px #FFF, 1638px 1633px #FFF, 1225px 828px #FFF, 1770px 1030px #FFF, 1065px 1310px #FFF, 561px 1445px #FFF, 588px 339px #FFF, 525px 348px #FFF, 1007px 905px #FFF, 219px 1118px #FFF, 850px 673px #FFF, 1436px 1684px #FFF, 9px 1378px #FFF, 1227px 1143px #FFF, 744px 1299px #FFF, 1351px 395px #FFF, 1849px 1075px #FFF, 1142px 646px #FFF, 1799px 1506px #FFF, 136px 7px #FFF, 886px 162px #FFF, 258px 1974px #FFF, 1423px 1889px #FFF, 855px 406px #FFF, 1314px 1358px #FFF, 1325px 671px #FFF, 182px 1214px #FFF, 45px 990px #FFF, 254px 983px #FFF, 1735px 954px #FFF, 335px 679px #FFF, 1985px 1032px #FFF, 1470px 78px #FFF, 1440px 1066px #FFF, 53px 382px #FFF, 950px 531px #FFF, 1556px 889px #FFF, 438px 1352px #FFF, 137px 1801px #FFF, 931px 484px #FFF, 1147px 1590px #FFF, 324px 543px #FFF, 1123px 1026px #FFF, 1276px 1414px #FFF, 10px 777px #FFF, 1589px 1053px #FFF, 1026px 1345px #FFF, 149px 898px #FFF, 1085px 360px #FFF, 579px 1169px #FFF, 1261px 636px #FFF, 974px 1307px #FFF, 1244px 150px #FFF, 730px 1054px #FFF, 1346px 1591px #FFF, 1982px 838px #FFF, 729px 134px #FFF, 893px 1335px #FFF, 629px 757px #FFF, 1316px 1728px #FFF, 800px 816px #FFF, 161px 1952px #FFF, 1006px 534px #FFF, 249px 596px #FFF, 1248px 1523px #FFF, 1616px 1448px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1286px 453px #FFF, 651px 1107px #FFF, 1503px 1762px #FFF, 904px 790px #FFF, 1928px 1163px #FFF, 1398px 1084px #FFF, 1482px 1716px #FFF, 819px 206px #FFF, 1937px 1925px #FFF, 824px 1382px #FFF, 1312px 612px #FFF, 1229px 88px #FFF, 223px 643px #FFF, 395px 1829px #FFF, 511px 293px #FFF, 1531px 709px #FFF, 162px 593px #FFF, 759px 631px #FFF, 855px 1728px #FFF, 1606px 1596px #FFF, 1996px 12px #FFF, 1494px 342px #FFF, 1010px 681px #FFF, 273px 1320px #FFF, 1995px 431px #FFF, 1993px 1169px #FFF, 569px 1668px #FFF, 807px 1196px #FFF, 1525px 1282px #FFF, 1809px 581px #FFF, 1735px 1758px #FFF, 247px 1471px #FFF, 731px 700px #FFF, 656px 1862px #FFF, 1055px 149px #FFF, 595px 1259px #FFF, 1083px 839px #FFF, 494px 561px #FFF, 1041px 1880px #FFF, 812px 1378px #FFF, 600px 1804px #FFF, 987px 746px #FFF, 1757px 540px #FFF, 878px 766px #FFF, 24px 1217px #FFF, 1827px 226px #FFF, 1292px 198px #FFF, 651px 342px #FFF, 1514px 774px #FFF, 1845px 1797px #FFF, 1532px 450px #FFF, 346px 1645px #FFF, 570px 1087px #FFF, 1352px 1559px #FFF, 177px 122px #FFF, 225px 24px #FFF, 792px 1065px #FFF, 1429px 1009px #FFF, 1029px 1924px #FFF, 1629px 925px #FFF, 1229px 1443px #FFF, 156px 529px #FFF, 1537px 1656px #FFF, 1131px 1224px #FFF, 1604px 601px #FFF, 321px 177px #FFF, 728px 277px #FFF, 1238px 511px #FFF, 387px 185px #FFF, 1112px 32px #FFF, 167px 706px #FFF, 1554px 350px #FFF, 632px 1873px #FFF, 1003px 533px #FFF, 546px 1306px #FFF, 1487px 1196px #FFF, 702px 1796px #FFF, 1249px 1513px #FFF, 320px 378px #FFF, 144px 1850px #FFF, 1899px 87px #FFF, 1994px 947px #FFF, 247px 371px #FFF, 1732px 555px #FFF, 351px 739px #FFF, 310px 597px #FFF, 1561px 13px #FFF, 1896px 1280px #FFF, 1345px 1007px #FFF, 285px 1714px #FFF, 1400px 233px #FFF, 991px 845px #FFF, 1238px 397px #FFF, 1673px 911px #FFF, 1119px 342px #FFF, 1859px 1031px #FFF, 1343px 1517px #FFF, 258px 543px #FFF, 810px 832px #FFF, 857px 1673px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1286px 453px #FFF, 651px 1107px #FFF, 1503px 1762px #FFF, 904px 790px #FFF, 1928px 1163px #FFF, 1398px 1084px #FFF, 1482px 1716px #FFF, 819px 206px #FFF, 1937px 1925px #FFF, 824px 1382px #FFF, 1312px 612px #FFF, 1229px 88px #FFF, 223px 643px #FFF, 395px 1829px #FFF, 511px 293px #FFF, 1531px 709px #FFF, 162px 593px #FFF, 759px 631px #FFF, 855px 1728px #FFF, 1606px 1596px #FFF, 1996px 12px #FFF, 1494px 342px #FFF, 1010px 681px #FFF, 273px 1320px #FFF, 1995px 431px #FFF, 1993px 1169px #FFF, 569px 1668px #FFF, 807px 1196px #FFF, 1525px 1282px #FFF, 1809px 581px #FFF, 1735px 1758px #FFF, 247px 1471px #FFF, 731px 700px #FFF, 656px 1862px #FFF, 1055px 149px #FFF, 595px 1259px #FFF, 1083px 839px #FFF, 494px 561px #FFF, 1041px 1880px #FFF, 812px 1378px #FFF, 600px 1804px #FFF, 987px 746px #FFF, 1757px 540px #FFF, 878px 766px #FFF, 24px 1217px #FFF, 1827px 226px #FFF, 1292px 198px #FFF, 651px 342px #FFF, 1514px 774px #FFF, 1845px 1797px #FFF, 1532px 450px #FFF, 346px 1645px #FFF, 570px 1087px #FFF, 1352px 1559px #FFF, 177px 122px #FFF, 225px 24px #FFF, 792px 1065px #FFF, 1429px 1009px #FFF, 1029px 1924px #FFF, 1629px 925px #FFF, 1229px 1443px #FFF, 156px 529px #FFF, 1537px 1656px #FFF, 1131px 1224px #FFF, 1604px 601px #FFF, 321px 177px #FFF, 728px 277px #FFF, 1238px 511px #FFF, 387px 185px #FFF, 1112px 32px #FFF, 167px 706px #FFF, 1554px 350px #FFF, 632px 1873px #FFF, 1003px 533px #FFF, 546px 1306px #FFF, 1487px 1196px #FFF, 702px 1796px #FFF, 1249px 1513px #FFF, 320px 378px #FFF, 144px 1850px #FFF, 1899px 87px #FFF, 1994px 947px #FFF, 247px 371px #FFF, 1732px 555px #FFF, 351px 739px #FFF, 310px 597px #FFF, 1561px 13px #FFF, 1896px 1280px #FFF, 1345px 1007px #FFF, 285px 1714px #FFF, 1400px 233px #FFF, 991px 845px #FFF, 1238px 397px #FFF, 1673px 911px #FFF, 1119px 342px #FFF, 1859px 1031px #FFF, 1343px 1517px #FFF, 258px 543px #FFF, 810px 832px #FFF, 857px 1673px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

.footer-back {
  background-color: #191919 !important;
  color: #fff;
}

.footer-back h3 {
  color: #56c6c9;
}

.footer-product-div {
  position: relative;
}

.footer-product-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #cacaca;
}

.footer-icon {
  color: white;
  font-size: 25px;
  border: 1px solid #fff;
  padding: 0.6rem;
  border-radius: 6px;
  transition: 0.3s;
}

.footer-icon:hover {
  background-color: #56c6c9;
  border: 1px solid #56c6c9;
}

.footer-latest-pro {
  position: relative;
}

.footer-latest-pro::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  height: 2px;
  width: 20px;
  background-color: #cacaca;
}

.footer-product-div-2 {
  position: relative;
}

.footer-product-div-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #cacaca;
}

.footer-popular-product-div {
  background-color: #fff;
  box-shadow: 0px 0px 6px 3px #bbbbbb;
  border-radius: 8px;
}

.fa-circle-dot {
  color: #0698d6;
  margin-right: 5px;
}

.footer-last-section-div {
  border: 1px solid #56c6c9;
}

.footer-rights-back {
  background-color: #191919;
}

/* contact us page css */
.contact-div {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 13px 2px #c1c1c1;
  min-height: 282px;
}

.contact-icon {
  font-size: 70px;
  color: #56c6c9;
}

.contact-info a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* About us page css */

.about-us-category li {
  font-size: 20px;
}

.our-misson-img {
  filter: brightness(0.4);
}

.our-mission-description p {
  font-size: 19px;
}

/* technologies page css */
.techno-heading {
  border-bottom: 4px solid #56c6c9;
  display: inline-block;
  font-weight: 600;
}

.technologis-back {
  background: #f2f2f2;
  margin-top: 100px;
}

.technologis-back p {
  cursor: pointer;
}

.techno-name {
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px #d5d5d5;
  border-radius: 8px;
  height: 100%;
}

.techno-link {
  color: #000;
  font-size: 22px;
  transition: 0.3s;
}

.techno-description {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px #d5d5d5;

}

.techno-description p {
  font-size: 19px;
}

.techno-link:hover {
  color: #56c6c9;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #56c6c9 !important;
}


/* media query for adjust width */
@media screen and (min-width:992px) and (max-width:1200px) {
  .m-width-50 {
    width: 50%;
  }

  .m-width-100 {
    width: 100%;
  }
}