@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1350px !important;
  }
}

/* Navbar Css */
.navbar {
  box-shadow: 0px 2px 12px 0px #d7d7d7;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.safron-logo span {
  font-size: 36px;
  font-weight: 700;
  color: #56c6c9;
}

.safron-logo p {
  font-size: 18px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: -10px;
}

.navbar-nav li a {
  font-weight: 600;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #56c6c9;
  position: relative;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.show {
  color: #56c6c9;
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #56c6c9;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}

/* hero section css */
.hero-bg-1 {
  background: url('/image/banner-2.jpg') no-repeat;
  background-size: cover;
  min-height: 712px;
}

.hero-bg-2 {
  background: url('/image/banner-3.jpg') no-repeat;
  background-size: cover;
  min-height: 712px;
}

.hero-bg-3 {
  background: url('/image/banner-4.jpg') no-repeat;
  background-size: cover;
  min-height: 712px;
}

.hero-bg-overlay {
  background-color: #000000a3;
  width: 100%;
  min-height: 712px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img-margin {
  margin-top: 98px;
}

.hero-section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.text2 {
  font-size: 20px;
  color: #fff;
}

@keyframes text {
  0% {
    color: #fff;
    /* margin-bottom: -40px; */
  }

  30% {
    letter-spacing: 15px;
    /* margin-bottom: -40px; */
  }

  85% {
    letter-spacing: 8px;
    /* margin-bottom: -40px; */
  }

  100% {
    margin-bottom: 20px;
  }
}

@media (min-width:1200px) {
  .text1 {
    font-size: 60px;
  }

  .text2 {
    font-size: 25px;
  }
}

@media (max-width:425px) {
  .text1 {
    font-size: 25px;
  }

  .text2 {
    font-size: 15px;
  }
}

/* .hero-section-text h5 {
  color: #fff;
  font-size: 22px;
} */

.hero-image {
  filter: brightness(0.3);
}

.hero-prev-button {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  right: 2rem;
  width: calc(var(--swiper-navigation-size) / 44* 27) !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-next-button {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  left: 2rem;
  width: calc(var(--swiper-navigation-size) / 44* 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-prev-button,
.hero-next-button {
  /* font-family: swiper-icons; */
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.hero-prev-next-icon {
  height: 30px;
}

/* our-work section */
.home-box-div {
  border: 3px solid #000;
  height: 15px;
  width: 15px;
  display: block;
  margin: auto;
  position: relative;
}

.home-box-div::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  background-color: #56c6c9;
  right: 20px;
  top: 4px;
}

.home-box-div::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  background-color: #56c6c9;
  left: 20px;
  top: 4px;
}

.our-work-head h3 {
  position: relative;
  background-color: #56c6c9;
  display: inline-block;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  color: #fff;
}

.our-work-text {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(38, 42, 76, 0.1) 0px 0px 13px 5px;
  padding: 40px 20px 20px 20px;
  margin-top: -25px;
  min-height: 229px;
}

/* it-bussiness css */
.it-bussiness-cate {
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(85, 197, 200, 0.10);
  border-radius: 8px;
  border: 2px solid #d8d8d8;
}

.it-bussiness-ic {
  width: 80px;
  height: auto;
}

.it-solution-bussiness {
  background: url('../public/image/help-bg.png') no-repeat;
  background-size: cover;
  background-color: #56c6c9;
  padding: 40px 60px;
  border-radius: 12px;
}

/* our service css */
.our-service-ic {
  position: relative;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 90px;
  height: 90px;
  transition: all .5s ease;
  -webkit-box-shadow: 0 0 12px 0 rgba(32, 46, 60, .06);
  -moz-box-shadow: 0 0 12px 0 rgba(32, 46, 60, .06);
  box-shadow: 0 0 12px 0 rgba(32, 46, 60, .06);
  padding: 5px;
  display: flex;
  margin: auto;
}

.our-service-line {
  height: 50px;
  width: 3px;
  bottom: 0;
  background-color: #56c6c9;
  display: flex;
  margin: auto;
}

.our-service-descroiption {
  background-color: #fff;
  box-shadow: rgba(38, 42, 76, 0.1) 0px 0px 13px 5px;
  border-radius: 8px;
  border: 2px solid #d8d8d8;
}

.our-service-descroiption p {
  min-height: 160px;
  line-height: 25px;
  display: flex;
  align-items: center;
}

.our-service-see-more-btn {
  padding: 9px 45px;
  background-color: white;
  border: 1px solid #56c6c9;
  color: #56c6c9;
  border-radius: 8px;
  transition: 0.3s;
}

.our-service-see-more-btn:hover {
  background-color: #56c6c9;
  color: #fff;
}

/* Footer Css */

.footer-back {
  background-color: #191919 !important;
  color: #fff;
}

.footer-back h3 {
  color: #56c6c9;
}

.footer-product-div {
  position: relative;
}

.footer-product-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #cacaca;
}

.footer-latest-pro {
  position: relative;
}

.footer-latest-pro::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  height: 2px;
  width: 20px;
  background-color: #cacaca;
}

.footer-product-div-2 {
  position: relative;
}

.footer-product-div-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #cacaca;
}

.footer-popular-product-div {
  background-color: #fff;
  box-shadow: 0px 0px 6px 3px #bbbbbb;
  border-radius: 8px;
}

.fa-circle-dot {
  color: #0698d6;
  margin-right: 5px;
}

.footer-last-section-div {
  border: 1px solid #56c6c9;
}

.footer-rights-back {
  background-color: #191919;
}

/* contact us page css */
.contact-div {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 13px 2px #c1c1c1;
  min-height: 282px;
}

.contact-icon {
  font-size: 70px;
  color: #56c6c9;
}

.contact-info a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* About us page css */

.about-us-category li {
  font-size: 20px;
}

.our-misson-img {
  filter: brightness(0.4);
}

.our-mission-description p {
  font-size: 19px;
}

/* technologies page css */
.techno-heading {
  border-bottom: 4px solid #56c6c9;
  display: inline-block;
  font-weight: 600;
}

.technologis-back {
  background: #f2f2f2;
  margin-top: 100px;
}

.technologis-back p {
  cursor: pointer;
}

.techno-name {
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px #d5d5d5;
  border-radius: 8px;
  height: 100%;
}

.footer-icon {
  color: white;
  font-size: 25px;
  border: 1px solid #fff;
  padding: 0.6rem;
  border-radius: 6px;
  transition: 0.3s;
}

.footer-icon:hover {
  background-color: #56c6c9;
  border: 1px solid #56c6c9;
}

.techno-link {
  color: #000;
  font-size: 22px;
  transition: 0.3s;
}

.techno-description {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px #d5d5d5;

}

.techno-description p {
  font-size: 19px;
}

.techno-link:hover {
  color: #56c6c9;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #56c6c9 !important;
}


/* media query for adjust width */
@media screen and (min-width:992px) and (max-width:1200px) {
  .m-width-50 {
    width: 50%;
  }

  .m-width-100 {
    width: 100%;
  }
}